

<% if customer_signed_in? && @customer.id == current_customer.id %>
        <%= link_to "退会", customers_hide_path(current_customer), method: :put, "data-confirm" => "本当に退会しますか？", class: "btn btn-outline-danger" %>
        <li><%= link_to "退会しない", customers_path, class: "btn btn-outline-primary" %></li>
<% end %>