<div class="nav-img1 main-top"></div>
<div class="container">
  <div class="row">
  	<div class="col-md-2"></div>
    <div class="col-md-8 mt-5 thanks-message">
		<h1>ご購入ありがとうございました！</h1>
	</div>
</div>
</div>