<div class="genrebar">
	<table class="table">
		<tr>
		  <th class="text-center">Genre Search</th>
		</tr>
		<tr>
		  <% @genres.each do |genre| %>
		  <td><%= link_to genre.name, items_path(genre_id: genre.id) %></td>
		</tr>
	<% end %>
	</table>
</div>